body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  background: rgb(46, 45, 45);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-main .main-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(191, 192, 192);
}
.nav-search
{
  display: flex;
  flex-direction: row;
}
.list-login
{
  display: flex;
  flex-direction: row;
}
.search-bar
{
  width: 700px;
  display: flex;
  flex-direction: row;
}
.search-dropdown
{
  margin-right: 10px;
}
.navbar-main .main-container .nav-login 
{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: center;
  align-items: baseline;
}
.list-group-item
{
  margin-right: 10px;
}
.nav-elem
{
  color: aliceblue;
  margin-right: 10px;
}
.list-login
{
  list-style: none;
}
.main-container
{
  display: flex;
  flex-direction: row;
}
.carimage
{
  max-width: 100%;
  height:max-content;
  filter: brightness(70%);
}
.nav-links
{
  display: flex;
  flex-direction: row;
  justify-content:right;
  width: 100%;
  list-style: none;
  margin-right: 100px;
}
.nav-item
{
  margin-right: 60px;
  margin-top: 5px;
}
.carousel-caption .caro-discription
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  width: 300px;
  color: #ffffff;
  text-decoration:solid;
  position: fixed;
  top: 200px;
}
  
.trailer-main-button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .trailer-main-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  .nav-item
  {
      box-shadow: inset 0 0 0 0 #000000;
      color: #000000;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color .3s ease-in-out, box-shadow .7s ease-in-out;
      margin-right: 50px;
  }
  .nav-item:hover {
    box-shadow: inset 100px 0 0 0 #000000;
    color: white;
  }
  .navbar
  {
    background-color: #b8b8b8b1;
  }
  .genre-list
  {
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
    vertical-align: middle;
    color: #000000;
    justify-content:center;
    width: max-content;
  }
  .carousel-caption .genre-list
  {
    position: fixed;
    top: 100px;
  }
  .genre-list-item
  {
    margin: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card {
    box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 10px;
   }
   .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .movie-card
  {
    width: 300px;
    height: auto;
    color: #FAFAFA;
  }
  .main-display
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }
  .card-img
  {
    filter: brightness(0.5)
  }
  .main-carousel
  {
    position: fixed;
    overflow:visible;
  }
  .browse-main
  {
    background: rgb(46, 45, 45);
    position: relative;
    top: 600px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    color: #FAFAFA;
  }
  .catagory-main-heading
  {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    animation: color-shift 1s alternate infinite;
  }
  @keyframes color-shift{
    0% {
      color: rgb(0, 0, 0);
    }
    33% {
      color: rgb(255, 255, 255);
    }
    66% {
      color: rgb(49, 49, 49);
    }
    100% {
      color: rgb(204, 203, 203);
    }
  }
  .catagory-heading
  {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .genre
  {
    background-color: #000000;
    color: #FAFAFA;
    margin-right: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
  }
  .top-titles
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }
  .top-titles-main
  {
    background: rgb(46, 45, 45);
    color: #FAFAFA;
    padding-top: 100px;
  }
  .top-heading
  {
    display: flex;
    justify-content: center;
  }
  .search-main
  {
    background: rgb(46, 45, 45);
    padding-top: 300px;
    max-width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
  }
  .input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: rgb(3, 3, 3);
    box-shadow: 0 0.4rem #aeabab;
    cursor: pointer;
   }
   
   .input-wrapper input:focus {
    outline-color: rgb(0, 0, 0);
   }
   .searchbar
   {
    padding-top: 50px;
   }
  
  .search-results
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: rgb(46, 45, 45);
    justify-items: center;
  }
  .search-heading
  {
    display: flex;
    justify-content: center;
    background: rgb(46, 45, 45);
    color: #eee;
    margin-top: -200px;
    padding-bottom: 50px;
  }
.caro-title
{
  font-weight: 600;
}